@page "/login"
@model CodeConverterTool.Pages.loginModel
@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>@Model.Message</h3>
    <button>Login</button>
</body>
</html>
